<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h3>CREATE YOU Account</h3>
    <form action="/users" method="post">
        <label for="">UserName:</label>
        <input type="text" name="username" placeholder="Enter UserName">
        
        <label for="">Email :</label>
        <input type="email" name="email" placeholder="Enter email">

        <label for="">Password :</label>
        <input type="password" name="password" placeholder="Enter password">

        <button>Add New User</button>
    </form>
</body>
</html>