<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send New Message</title>
</head>
<body>
    <h2>create new chat...</h2>
    <form action="/chats" method="post">
        <input type="text" placeholder="From" name="from">
        <input type="text" placeholder="to" name="to">
        <input type="text" placeholder="message" name="message">
        <button>Send</button>
    </form>
    
</body>
</html>