h1{
    color: maroon;
}

.post{
    background-color: blanchedalmond;
}

.user{
    font-style: italic;
}
.edit{
    padding-inline: 30px;
}
.button1 {
  background-color: #4CAF50; /* green */
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.button1:hover {
  background-color: #45a049; /* darker green */
}